name "iphone/notification_center_widget"
prompt NCCENTERSECTION "NCCenter section (Today = SBUIWidgetIdiomNotificationCenterToday | All = SBUIWidgetIdiomNotificationCenter | Missed = ???)" "SBUIWidgetIdiomNotificationCenterToday"
constrain "control" to package


name "iphone/ios7_notificationcenter_widget"

constrain file "control" to package
constrain "theos" to link_theos

